@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size: 16px;
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 240 6% 5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 3% 93%;
    --secondary-foreground: 240 6% 5%;
    --muted: 240 6% 94%;
    --muted-foreground: 240 4% 47%;
    --accent: 220 6% 93%;
    --accent-foreground: 240 6% 5%;
    --destructive: 349 82% 46%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0% / 0.1;
    --input: 0 0% 0% / 0;
    --input-background: 240 5% 96%;
    --ring: 0 0% 44%;
    --radius: 0.625rem;
    
    /* Sidebar */
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 240 6% 5%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 0 0% 44%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 97%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 97%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 97%;
    --primary: 0 0% 97%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 97%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 44%;
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 86% 60%;
    --border: 0 0% 17%;
    --input: 0 0% 17%;
    --ring: 0 0% 27%;
    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 97%;
    --sidebar-primary: 264 78% 48%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 0 0% 17%;
    --sidebar-accent-foreground: 0 0% 97%;
    --sidebar-border: 0 0% 17%;
    --sidebar-ring: 0 0% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-2xl font-medium leading-relaxed;
  }

  h2 {
    @apply text-xl font-medium leading-relaxed;
  }

  h3 {
    @apply text-lg font-medium leading-relaxed;
  }

  h4 {
    @apply text-base font-medium leading-relaxed;
  }

  label {
    @apply text-base font-medium leading-relaxed;
  }
}

html {
  font-size: var(--font-size);
}
